.git
**/.git

.DS_Store
.vscode
.vscode-test

node_modules
**/node_modules

.yarn

yarn-error.log
yarn-debug.log

**/yarn.lock
**/yarn-error.log
**/yarn-debug.log

**/dist

.env
.env.*

**/.env
**/.env.*